<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MySQL DB Mapper. by 정준호. -->
<mapper namespace="RestaurantMapper">
 
	<resultMap id="restaurantSelectMap" type="restaurant">
		<result property="resId" column="res_id" jdbcType="INTEGER" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="addr" column="addr" jdbcType="VARCHAR" />
		<result property="phone" column="phone" jdbcType="VARCHAR" />
		<result property="licenseNo" column="license_no" jdbcType="VARCHAR"/>
		<result property="geoLat" column="geo_lat" jdbcType="DOUBLE" />
		<result property="geoLong" column="geo_long" jdbcType="DOUBLE" />
		<result property="imgSmall1" column="img_small1" jdbcType="VARCHAR" />
		<result property="imgBig1" column="img_big1" jdbcType="VARCHAR" />
		<result property="imgBig2" column="img_big2" jdbcType="VARCHAR" />
		<result property="imgBig3" column="img_big3" jdbcType="VARCHAR" />
		<result property="imgMenu" column="img_menu" jdbcType="VARCHAR" />
		<result property="copyComment" column="copy_comment" jdbcType="VARCHAR"  />
		<result property="resCategory" column="res_category" jdbcType="INTEGER" />
	</resultMap>

	<insert id="addRestaurant" parameterType="restaurant" >
	 	INSERT restaurant(	res_id, 
	 						name, 
	 						addr, 
	 						phone, 
	 						license_no, 
	 						geo_lat, 
	 						geo_long, 
	 						img_small1, 
	 						img_big1, 
	 						img_big2, 
	 						img_big3, 
	 						img_menu, 
	 						copy_comment, 
	 						res_category)  
		VALUES (	#{resId, jdbcType=INTEGER}, 
					#{name, jdbcType=VARCHAR}, 
					#{addr, jdbcType=VARCHAR}, 
					#{phone, jdbcType=VARCHAR}, 
					#{licenseNo, jdbcType=VARCHAR}, 
					#{geoLat, jdbcType=DOUBLE}, 
					#{geoLong, jdbcType=DOUBLE}, 
					#{imgSmall1, jdbcType=VARCHAR}, 
					#{imgBig1, jdbcType=VARCHAR}, 
					#{imgBig2, jdbcType=VARCHAR}, 
					#{imgBig3, jdbcType=VARCHAR}, 
					#{imgMenu, jdbcType=VARCHAR}, 
					#{copyComment, jdbcType=VARCHAR}, 
					#{resCategory, jdbcType=INTEGER}	)
	</insert>
	
	<select id="findRestaurant" parameterType="restaurant" resultMap="restaurantSelectMap">
		SELECT
		res_id, name, addr, phone, license_no, geo_lat, geo_long, img_small1, 
	 		img_big1, img_big2, img_big3, img_menu, copy_comment, res_category		
		FROM restaurant 
		WHERE name = #{name}
	</select>
	 
	<select id="getRestaurant" parameterType="INTEGER" resultMap="restaurantSelectMap">
		SELECT
		res_id, 
		name, 
		addr, 
		phone, 
		license_no, 
		geo_lat, 
		geo_long, 
		img_small1, 
	 	img_big1, 
	 	img_big2, 
	 	img_big3, 
	 	img_menu, 
	 	copy_comment, 
	 	res_category		
		FROM restaurant 
		WHERE res_id = #{value}
	</select>
	
	<update id="updateRestaurant" parameterType="restaurant">
		UPDATE restaurant
		<set>
			<if test="name != null">name = #{name, jdbcType=VARCHAR},</if>
			<if test="addr != null">addr = #{addr, jdbcType=VARCHAR},</if>
			<if test="phone != null">phone = #{phone, jdbcType=VARCHAR},</if>
			<if test="licenseNo != null">license_no = #{licenseNo, jdbcType=VARCHAR},</if>
			<if test="geoLat != null">geo_lat = #{geoLat, jdbcType=DOUBLE},</if>
			<if test="geoLong != null">geo_long = #{geoLong, jdbcType=DOUBLE},</if>
			<if test="imgSmall1 != null">img_small1 = #{imgSmall1, jdbcType=VARCHAR},</if>
			<if test="imgBig1 != null">img_big1 = #{imgBig1, jdbcType=VARCHAR},</if>
			<if test="imgBig2 != null">img_big2 = #{imgBig2, jdbcType=VARCHAR},</if>
			<if test="imgBig3 != null">img_big3 = #{imgBig3, jdbcType=VARCHAR},</if>
			<if test="imgMenu != null">img_menu = #{imgMenu, jdbcType=VARCHAR},</if>
			<if test="copyComment != null">copy_comment = #{copyComment, jdbcType=VARCHAR},</if>
			<if test="resCategory != null">res_category = #{resCategory, jdbcType=INTEGER}</if>
		</set>	
		WHERE res_id = #{resId}
	</update>
	
	<delete	id="removeRestaurant" 	parameterType="INTEGER" >
		DELETE 
		FROM restaurant 
		WHERE res_id = #{resId}
	</delete>

  	<sql id="select-restaurant">
		SELECT
		res_id, 
		name, 
		addr, 
		phone, 
		license_no, 
		geo_lat, 
		geo_long, 
		img_small1, 
		img_big1, 
		img_big2, 
		img_big3, 
		img_menu, 
		copy_comment, 
		res_category		
		FROM restaurant
	</sql>
	
	<sql id="orderby-restaurantId">
	 	ORDER BY res_id
	</sql>
	
	<select id="getRestaurantList" parameterType="search" resultMap="restaurantSelectMap">		
 		SELECT inner_table2.* 
 		FROM(
				SELECT inner_table.*, @ROWNUM := @ROWNUM +1 as row_seq
				FROM( 
					<include refid="select-restaurant"/>
					<if test="searchKeyword!=''">
				  		<where>			
				  			<if test="searchCondition==1">
				  				name LIKE '%${searchKeyword}%'
				  			</if>
				  			<if test="searchCondition==2">
				  				addr LIKE '%${searchKeyword}%'
				  			</if>
				  			<if test="searchCondition==3">
				  				phone LIKE '%${searchKeyword}%'
				  			</if>
				  		</where>
			  		</if>
		  			ORDER BY res_id
			  	)inner_table,(select @ROWNUM:=0) as R
		
		)inner_table2
		WHERE row_seq<![CDATA[<=]]>#{endRowNum}
		AND row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
  	
  	</select> 
  			  		
	<select id="getTotalCount" parameterType="String" resultType="INTEGER">
  		SELECT COUNT(*) FROM restaurant
  		<if test="searchKeyword!=''">
		  		<where>			
		  			<if test="searchCondition==1">
		  				name LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==2">
		  				addr LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==3">
		  				phone LIKE '%${searchKeyword}%'
		  			</if>
		  		</where>
	  		</if>
  	</select> 
  	
</mapper>



<!-- Oracle DB Mapper 주석처리. by 정준호. -->
<!-- 
<mapper namespace="RestaurantMapper">
 
	<resultMap id="restaurantSelectMap" type="restaurant">
		<result property="resId" column="res_id" jdbcType="INTEGER" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="addr" column="addr" jdbcType="VARCHAR" />
		<result property="phone" column="phone" jdbcType="VARCHAR" />
		<result property="licenseNo" column="license_no" jdbcType="VARCHAR"/>
		<result property="geoLat" column="geo_lat" jdbcType="DOUBLE" />
		<result property="geoLong" column="geo_long" jdbcType="DOUBLE" />
		<result property="imgSmall1" column="img_small1" jdbcType="VARCHAR" />
		<result property="imgBig1" column="img_big1" jdbcType="VARCHAR" />
		<result property="imgBig2" column="img_big2" jdbcType="VARCHAR" />
		<result property="imgBig3" column="img_big3" jdbcType="VARCHAR" />
		<result property="imgMenu" column="img_menu" jdbcType="VARCHAR" />
		<result property="copyComment" column="copy_comment" jdbcType="VARCHAR"  />
		<result property="resCategory" column="res_category" jdbcType="INTEGER" />
	</resultMap>

	<insert id="addRestaurant" parameterType="restaurant" >
	 	INSERT 
	 	INTO restaurant(res_id, name, addr, phone, license_no, geo_lat, geo_long, 
	 	img_small1, img_big1, img_big2, img_big3, img_menu, copy_comment, res_category)  
		VALUES	 (restaurant_seq.NEXTVAL, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
		#{phone,jdbcType=VARCHAR}, #{licenseNo,jdbcType=VARCHAR}, #{geoLat,jdbcType=DOUBLE}, #{geoLong,jdbcType=DOUBLE}, 
		#{imgSmall1,jdbcType=VARCHAR}, #{imgBig1,jdbcType=VARCHAR}, #{imgBig2,jdbcType=VARCHAR}, #{imgBig3,jdbcType=VARCHAR}, 
		#{imgMenu,jdbcType=VARCHAR}, #{copyComment,jdbcType=VARCHAR}, #{resCategory,jdbcType=INTEGER})
	</insert>
	
	<select id="findRestaurant" parameterType="restaurant" resultMap="restaurantSelectMap">
		SELECT
		res_id, name, addr, phone, license_no, geo_lat, geo_long, img_small1, 
	 		img_big1, img_big2, img_big3, img_menu, copy_comment, res_category		
		FROM restaurant 
		WHERE name = #{name}
	</select>
	 
	<select id="getRestaurant" parameterType="INTEGER" resultMap="restaurantSelectMap">
		SELECT
		res_id, name, addr, phone, license_no, geo_lat, geo_long, img_small1, 
	 		img_big1, img_big2, img_big3, img_menu, copy_comment, res_category		
		FROM restaurant 
		WHERE res_id = #{value}
	</select>
	
	<update id="updateRestaurant" parameterType="restaurant">
		UPDATE restaurant
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="addr != null">addr = #{addr},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="licenseNo != null">license_no = #{licenseNo},</if>
			<if test="geoLat != null">geo_lat = #{geoLat},</if>
			<if test="geoLong != null">geo_long = #{geoLong},</if>
			<if test="imgSmall1 != null">img_small1 = #{imgSmall1},</if>
			<if test="imgBig1 != null">img_big1 = #{imgBig1},</if>
			<if test="imgBig2 != null">img_big2 = #{imgBig2},</if>
			<if test="imgBig3 != null">img_big3 = #{imgBig3},</if>
			<if test="imgMenu != null">img_menu = #{imgMenu},</if>
			<if test="copyComment != null">copy_comment = #{copyComment},</if>
			<if test="resCategory != null">res_category = #{resCategory}</if>
	
		</set>	
		WHERE res_id = #{resId}
	</update>
	
	<delete	id="removeRestaurant" 	parameterType="INTEGER" >
		DELETE 
		FROM restaurant 
		WHERE res_id = #{resId}
	</delete>

  	<sql id="select-restaurant">
		SELECT
		res_id, name, addr, phone, license_no, geo_lat, geo_long, img_small1, 
			img_big1, img_big2, img_big3, img_menu, copy_comment, res_category		
		FROM restaurant
	</sql>
	
	<sql id="orderby-restaurantId">
	 	ORDER BY res_id
	</sql>
	
	<select id="getRestaurantList" parameterType="search" resultMap="restaurantSelectMap">		
  	
		SELECT inner_table.*, ROWNUM
		FROM( 
			<include refid="select-restaurant"/>
			<if test="searchKeyword!=''">
		  		<where>			
		  			<if test="searchCondition==1">
		  				name LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==2">
		  				addr LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==3">
		  				phone LIKE '%${searchKeyword}%'
		  			</if>
		  		</where>
	  		</if>
	  		ORDER BY res_id
		  	)inner_table
		WHERE <![CDATA[ROWNUM<=#{endRowNum}]]> 
		AND ROWNUM BETWEEN #{startRowNum} AND #{endRowNum} 
  	</select> 
  			  		
	<select id="getTotalCount" parameterType="String" resultType="INTEGER">
  		SELECT COUNT(*) FROM restaurant
  			<if test="searchKeyword!=''">
		  		<where>			
		  			<if test="searchCondition==1">
		  				name LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==2">
		  				addr LIKE '%${searchKeyword}%'
		  			</if>
		  			<if test="searchCondition==3">
		  				phone LIKE '%${searchKeyword}%'
		  			</if>
		  		</where>
	  		</if>
  	</select> 
  	
</mapper>
-->