@charset "utf-8";
/* CSS Document */

/* float 배치는 css float 자체에 버그가 있기 때문에 clear:both; 로 float을 초기화하여 버그를 해결할 수 있음 */

/* 모든 태그 여백을 0으로 초기화시켜 프로그래밍 중간 중간에 발생하는 배치 어긋남 현상을 해소하려는 의도로 보임 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}

body{-webkit-text-size-adjust:none}

body{background-color:#fff}

body,th,td,input,select,textarea,button{font-size:15px;line-height:1.5;font-family:'Nanum Gothic','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#444}

body:lang(ja),th:lang(ja),td:lang(ja),input:lang(ja),select:lang(ja),textarea:lang(ja),button:lang(ja){
	font-family:'Hiragino Kaku Gothic ProN','Meiryo','Nanum Gothic','Malgun Gothic','맑은 고딕',dotum,'돋움','sans-serif'}

body{background:#fff}

.float_clear{
	clear:both;	
}

/*본문 바디 영역 */
body{ 
	width:1024px;
	height:1200px;
	margin:0 auto;
	border:1px solid #fff;
}

#intro_logo_image{
	position: relative;
	background-image:url(../img/design/moongoo.png);
	float:left;
	margin:120px 0 0 60px;
	width:280px;
	height: 180px;
}

#intro_text{
	position:relative;
	margin:100px 0 0 100px;
	float:left;
	font-size:14px;
	width:500px;
	height:300px;
}

#intro_text p{
	font-family:seo;
	font-size:16px;
	color:#333;
	padding:50px 0 0 0;
	margin:0 0 0 10px;
}

.orange_line1{
	position:relative;
	margin-top:400px;
	background-image:url(../img/design/top-menu-bottom-line.png);
	background-repeat:repeat-x;
	width:1026px;
	height:2px;
}

.orange_line2{
	position:relative;
	margin-top:40px;
	background-image:url(../img/design/top-menu-bottom-line.png);
	background-repeat:repeat-x;
	width:1026px;
	height:2px;
}

#intro_image_box{
	position:relative;
	width:900px;
	height:220px;
	margin:40px auto 0 auto;
}

.intro_main_image{
	position:relative;
	float:left;
	width:420px;
	height:220px;
	background-image:url(../img/design/bc_use1.png);
	border:1px solid #999;
	border-radius:5px;
}

.intro_main_image2{
	position:relative;
	float:right;
	width:420px;
	height:220px;
	background-image:url(../img/design/logologo.png);
	border:1px solid #999;
	border-radius:5px;
}

.intro_contact_text{
	position:relative;	
	float:left;
	margin:40px 0 0 0;
	width:480px;
	height:320px;
	border:1px solid #999;
	border-radius:5px;
}

.intro_contact_image{
	position:relative;
	float:left;
	margin:40px 0 0 50px;
	width: 480px;
	height:320px;
	background-image:url(../img/design/contact_us.png);
	background-color:#3CF;
	border:1px solid #999;
	border-radius:5px;
}