	<style>
			
		 
			.my-box {
				padding: 30 30 30 30;
				padding-left: 10%;
			}
			
			.navbar {
				/* background-image: url("/../resources/imgs/bg6.png");
						 */
				background-color: #5DCD9D;
				border-style: none;
				font-size: 15px;
				font-familiy: 'Nanum Gothic';
				/* z-index: 2000; */
				margin: 0;
			}
			
			#brand_img {
				margin-left: 10px;
			}
			
			#start,#signin,#signin_on {
				padding-top: 18px;
				color: white;
				background: none;
			}
			
			/* 페이지에 따라 알아서 색깔 바뀌게 수정해야함  */
			#deal,#deal:hover {
				background-color: #33A876;
				padding-top: 18px;
				color: white;
				height: 53px;
			}
			
			#start:hover,#signin:hover,#signin_on:hover {
				color: gray;
				background: none;
			}
			
			#search {
				margin-top: 10px;
			}
			
			body {
				/*background-image: url("/../resources/imgs/bg6.png");*/
				background-color: #FFFFFF;
			}
			
			.dropdown-menu {
				padding: 15px;
				padding-bottom: 15px;
				top: 54px;
				left: -180px;
				margin-right: 20px;
				border-color: #BCBCBC;
			}
			
			#dropdown_on {
				padding-right: 0px;
				padding-left: 0px;
				padding-top: 15px;
				padding-bottom: 15px;
				margin: 0;
				text-align: right;
			}
			
			#signin_submit {
				clear: left;
				width: 100%;
				height: 32px;
				font-size: 13px;
			}
			
			#signin_submit.btn {
				background-color: #00A1DA;
				border: none;
				margin-bottom: 5px;
			}
			
			#signup {
				margin-left: 160px;
				text-decoration: none;
			}
			
			#signup:hover {
				color: gray;
			}
			
			#dropdown_on>li>a {
				color: blue;
				background: none;
			}
			
			#dropdown_on>li>a:hover {
				color: gray;
				background: none;
			}
			
			/* itemMapView css  */
			html {
				height: 100%
			}
			
			body {
				height: 100%;
				margin: 0;
				padding: 0;
				/* overflow: hidden; */
			}
			
			#map_canvas {
				margin-top:15px;
				margin-left:130px;
				/*float: left;
				/* margin-top: 53px; */
				/* border-left: 1px solid #BCBCBC;
				border-top: 1px solid #BCBCBC; */
			}
			
			/* 상품등록 css  */
			#sellbtn {
				width: 100px;
			}
			
			#buybtn {
				width: 100px;
			}
			
			#popover-content {
				margin-left: 200px;
				width: 600px;
				height: 400px;
			}
			
			#item_name {
				margin-bottom: 10px;
			}
			
			#category1 {
				margin-bottom: 10px;
			}
			
			/* .labels {
				color: red;
				background-color: white;
				font-family: "Lucida Grande", "Arial", sans-serif;
				font-size: 10px;
				font-weight: bold;
				text-align: center;
				width: 40px;
				border: 2px solid black;
				white-space: nowrap;
			} */
			
			
			/* slider bar css */
			/* 텔 */
			#menu1 {
				transition: all 0.3s ease;
				position: fixed;
				width: 0%;
				top: 0;
				margin-top:53px;
				left: -200px;
				background: #FFFFFF;
				height:  calc(100% - 53px);
				z-index: 1030;
				border:1px solid #BCBCBC;
				padding-top: 20px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 20px;
				text-align: center;
			}
			
			#menu-toggle1 {
				position: fixed;
				top: 200px;
				left: 0;
				background: #5DCD9D;
				z-index: 1000;	
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 10px;
			 	border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				transition: all 0.3s ease;
			}
			
			
			/* 새로운 시도 시작 */
			#menu-toggle1 span{
				
				/* Container properties */
				
				width:0;
				left:90px;
				top:0px;
				/*
				옆에서 얼마나 떨어졌나 지정
				left:70px;
				*/
				padding:0;
				position:absolute;
				overflow:hidden;
			
				/* Text properties */
				font-familiy: 'Nanum Gothic';
				font-size:18px;
				font-weight:bold;
				letter-spacing:0.6px;
				white-space:nowrap;
				line-height:90px;
				/* 하이라이터 높이 지정 line-height:39px;*/
				/* CSS3 Transition: */
				-webkit-transition: 0.25s;
				
				/* Future proofing (these do not work yet): */
				-moz-transition: 0.25s;
				transition: 0.25s;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px; 
			}
			/* span 보여주게 하는 코드 */
			#menu-toggle1 a:hover span{ 
				background-color:rgb(255, 228, 0);
				color:rgb(3, 0, 102);
				/* text-shadow:1px 1px 0 #99bf31;
				 */
				width:auto;
				padding:0 20px;
				overflow:visible; 
				}
			
			/* CSS outer glow with the box-shadow property */
			/*
			 #menu-toggle1 a:hover{
				text-decoration:none;
				
				
				-moz-box-shadow:0 0 5px #9ddff5;
				-webkit-box-shadow:0 0 5px #9ddff5;
				box-shadow:0 0 5px #9ddff5;
			}
			*/
			
			
			/* 새로운 시도 끝 */
			
			#menu-toggle1:hover {
				background: rgb(255, 228, 0);
				cursor: pointer;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px; 
			}
			
			#menu1.open {
				margin-top:53px;
				left: 0;
				width: 300px;
				display: block;
			}
			
			#menu-toggle1.open {
				left: 300px;
			}
			
			
			/* Menu2 */
			#menu2 {
				transition: all 0.3s ease;
				position: fixed;
				width: 0%;
				top: 0;
				margin-top:53px;
				left: -300px;
				background: #ffffff;
				height:  calc(100% - 53px);
				z-index: 1030;
				text-align: center;
				border: 1px solid #BCBCBC;
				padding-top: 20px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 20px;
			}
			
			#menu-toggle2 {
				position: fixed;
				top: 300px;
				left: 0;
				background: #5DCD9D;
				z-index: 1000;
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 10px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				transition: all 0.3s ease;
			}
			
			/* 새로운 시도 시작 */
			#menu-toggle2 span{
				
				/* Container properties */
				
				width:0;
				left:90px;
				top:0px;
				/*
				옆에서 얼마나 떨어졌나 지정
				left:70px;
				*/
				padding:0;
				position:absolute;
				overflow:hidden;
			
				/* Text properties */
				font-familiy: 'Nanum Gothic';
				font-size:18px;
				font-weight:bold;
				letter-spacing:0.6px;
				white-space:nowrap;
				line-height:90px;
				/* 하이라이터 높이 지정 line-height:39px;*/
				/* CSS3 Transition: */
				-webkit-transition: 0.25s;
				
				/* Future proofing (these do not work yet): */
				-moz-transition: 0.25s;
				transition: 0.25s;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px; 
			}
			
			/* span 보여주게 하는 코드 */
			#menu-toggle2 a:hover span{ 
				background-color:rgb(255, 228, 0);
				color:rgb(3, 0, 102);
			/* 	text-shadow:1px 1px 0 #99bf31; */
				width:auto;
				padding:0 20px;
				overflow:visible; 
				
				}
				
			/* CSS outer glow with the box-shadow property */
			/*
			#menu-toggle2 a:hover{
				text-decoration:none;
				
				
				-moz-box-shadow:0 0 5px #9ddff5;
				-webkit-box-shadow:0 0 5px #9ddff5;
				box-shadow:0 0 5px #9ddff5;
			}
			*/
			
			
			/* 새로운 시도 끝 */
			
			#menu-toggle2:hover {
				background: rgb(255, 228, 0);
				cursor: pointer;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px; 
			}
			
			#menu2.open {
				margin-top:53px;
				left: 0;
				width: 300px;
				display: block;
			}
			
			#menu-toggle2.open {
				left: 300px;
			}
			
			
			/* Menu3 */
			#menu3 {
				transition: all 0.3s ease;
				position: fixed;
				margin-top:53px;
				width: 0%;
				top: 0;
				left: -200px;
				background: #FFFFFF;
				height:  calc(100% - 53px);
				z-index: 1030;
				border:1px solid #BCBCBC;
				padding-top: 20px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 20px;
			}
			
			#menu-toggle3 {
				position: fixed;
				top: 400px;
				left: 0;
				background: #5DCD9D;
				z-index: 1000;
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 10px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				transition: all 0.3s ease;
			}
			
			/* 새로운 시도 시작 */
			#menu-toggle3 span{
				
				/* Container properties */
				
				width:0;
				left:90px;
				top:0px;
				/*
				옆에서 얼마나 떨어졌나 지정
				left:70px;
				*/
				padding:0;
				position:absolute;
				overflow:hidden;
			
				/* Text properties */
				font-familiy: 'Nanum Gothic';
				font-size:18px;
				font-weight:bold;
				letter-spacing:0.6px;
				white-space:nowrap;
				line-height:90px;
				/* 하이라이터 높이 지정 line-height:39px;*/
				/* CSS3 Transition: */
				-webkit-transition: 0.25s;
				
				/* Future proofing (these do not work yet): */
				-moz-transition: 0.25s;
				transition: 0.25s;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px; 
			}
			/* span 보여주게 하는 코드 */
			#menu-toggle3 a:hover span{ 
				background-color:rgb(255, 228, 0);
				color:rgb(3, 0, 102);
				/* text-shadow:1px 1px 0 #99bf31; */
				width:auto;
				padding:0 20px;
				overflow:visible; }
			
			/* CSS outer glow with the box-shadow property */
			/*
			#menu-toggle3 a:hover{
				text-decoration:none;
				
				
				-moz-box-shadow:0 0 5px #9ddff5;
				-webkit-box-shadow:0 0 5px #9ddff5;
				box-shadow:0 0 5px #9ddff5;
			}
			*/
			
			
			/* 새로운 시도 끝 */
			
			#menu-toggle3:hover {
				background: rgb(255, 228, 0);
				cursor: pointer;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px; 
			}
			
			#menu3.open {
				margin-top:53px;
				left: 0;
				width: 300px;
				display: block;
			}
			
			#menu-toggle3.open {
				left: 300px;
			}
			
			#preview_modal{
				text-align: center;
			}
			
			#tab11,#tab12,#tab13,#tab14,#tab15{
				height:410px;
			}
			
			
			/* menu3 내부 css */
			.list-group.panel > .list-group-item {
			  border-bottom-right-radius: 4px;
			  border-bottom-left-radius: 4px
			}
			.list-group-submenu {
			  margin-left:20px;
			}
			
			#injection-modal{
				background-color: white;
				border-top-right-radius: 4px;
			  	border-top-left-radius: 4px;
				border-bottom-right-radius: 4px;
			  	border-bottom-left-radius: 4px;
			  	text-align: center;
			}
			
			#search_result {
				height:  calc(100% - 150px);
			/* 	overflow-y:scroll; */
			}
			
			
			
			
			div.mousescroll {
			    overflow: hidden;
			}
			div.mousescroll:hover {
			    overflow-y: scroll;
			}
			
			
			
			/* 새로운 시도 시작 */
			#t3 span{
				
				/* Container properties */
				
				width:0;
				left:absolute;
				top:absolute;
				/*
				옆에서 얼마나 떨어졌나 지정
				left:70px;
				*/
				padding:0;
				position:absolute;
				overflow:hidden;
			
				/* Text properties */
				font-familiy: 'Nanum Gothic';
				font-size:12px;
				font-weight:bold;
				letter-spacing:0.6px;
				white-space:nowrap;
				line-height:20px;
				/* 하이라이터 높이 지정 line-height:39px;*/
				/* CSS3 Transition: */
				-webkit-transition: 0.25s;
				
				/* Future proofing (these do not work yet): */
				-moz-transition: 0.25s;
				transition: 0.25s;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px; 
			}
			/* span 보여주게 하는 코드 */
			#t3 a:hover span{ 
				background-color:rgb(255, 228, 0);
				color:rgb(3, 0, 102);
				/* text-shadow:1px 1px 0 #99bf31;
				 */
				width:auto;
				padding:0 20px;
				/*padding:0 20px;*/
				overflow:visible; 
				}
			
			
			#t3 a:hover{
				background: rgb(255, 228, 0);
				cursor: pointer;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px; 
			
				text-decoration:none;
				
				-moz-box-shadow:0 0 5px #9ddff5;
				-webkit-box-shadow:0 0 5px #9ddff5;
				box-shadow:0 0 5px #9ddff5;
				
				/* CSS outer glow with the box-shadow property */
				
			}
			
			
			
			/* 새로운 시도 끝 
			
			*/
			/*
			#menu-toggle1:hover {
				background: rgb(255, 228, 0);
				cursor: pointer;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px; 
			}
				*/		
			
			
			</style>
				