.tbTable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.tbTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tbTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.tbTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.tbTable table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.tbTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.tbTable tr:hover td{
	
}
.tbTable tr:nth-child(odd){ background-color:#E7E7E7; }
.tbTable tr:nth-child(even)    { background-color:#ffffff; }

.tbTable td{
	vertical-align:middle;
	border-width:0px 1px 1px 0px;
	text-align:center;
	
	font-size:13px;
	font-family:inherit;
	font-weight:normal;
	color:#000000;
}.tbTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tbTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tbTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tbTable tr:first-child td {
	background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A0C2E4), color-stop(1, #005fbf) )
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:#7996B3;
	border:0px solid #FFFFFF;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:inherit;
	 
}
.tbTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:7DA8D2;
}
.tbTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tbTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.ct_line02{
	size: 1px;	
}